body{
    margin: 0;
    overflow: hidden;
    width: 100%;
}

.wrapper, .wrapperForselling, .wrapperForFloor{
    position: absolute;
    background: white;
    font-size: 25px;
    top: 5%;
    right: -100%;
    transition: .5s ease;
}
/* .wrapperForselling{
    left: 0;
    width: 30%;
} */

.img{
    z-index: 111111;
    cursor: pointer;
    display: block;
    padding-left: 10px;
}
.angel{
    display: flex;
    z-index: 111111;
    cursor: pointer;
    padding: 10px;
}
.functions{
    display: flex;
    position: absolute;
    z-index: 11111;
    bottom: 0;
    left: 4%;
    justify-content: space-between;
    width: 90%;
}
.angelImg{
    border-radius: 10px;
    margin: 2px;
    cursor: pointer;
}
.snap{
    display: flex;
}
.downloadCanvas{
    cursor: pointer;
}

#siam{
    position: absolute;
    top: 0;
    z-index: 11111;
    left: 0;
}
